strong {
	font-style: italic;
	color: gray;
}

.subtle {
	color: gray;
	font-size: 80%;
}

#header {
	background: blue;
	color: white;
}

p.a.b#main {
	margin-bottom: 20px;
}

p > a ... {
	/* <a> tags that are children of <p> tags */
}

p a ...{
	/* <a> tags that are inside <p> tags
}